body{
    /* 배경이미지 */
    /* background-image: url("경로") */
    background-image: url("../img/back.jpg");
    /* 이미지 반복 중단 */
    /* background-repeat: no-repeat; */
    background-repeat: no-repeat;
}

p{
    /* 글자크기 */
    font-size: 20px;
    /* 바깥여백 -위 */
    margin-top: 160px;
    /* 바깥여백 -왼쪽 */
    margin-left: 130px;
    /* 가로크기 */
    width: 280px;
    
}

div{
    /* 글자색 */
    color: white;
    /* 배경색 */
    background-color: blue;
    /* 바깥여백-왼쪽 */
    margin-left: 210px;
    /* 바깥여백-위쪽 */
    margin-top: 30px;
    /* 가로크기 */
    width: 120px;
    /* 글자 가운데 정렬 */
    text-align: center;
    /* 안쪽여백 */
    padding: 8px;
}